.form{
    font-size: large;
    position: absolute;
    left: calc(50% - 125px);
    width: 350px;
    height: 100px;
    margin-top: 25px;
}
.form input{
    position:relative;
    padding: 10px;
    width: 100%;
    margin:0 auto;
    height: 30px;
    font-size: large;
    border-radius: 100px;
    margin-left: -55px;

}
.form button{
    background-color:rgb(26,101,41);
    color: white;
    font-size: large;
    width: 270px;
    height: 45px;
    border-radius: 100px;
    margin-top: 10px;
}
.form button:hover{
    background-color:rgba(26, 101, 41, 0.89);
    color: white;
    font-size: large;
    width: 270px;
    height: 45px;
    border-radius: 100px;
    margin-top: 10px;
    
}