.PostTitle {
    color: white;
    text-decoration: none;
    font-size: large;
}
.Date{
    color: wheat;
    font-size: small;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}
.CreatePost ul{
    position: relative;
    margin: 0px;
    list-style-type: none;
    padding: 2px;
    float: left;
    width: calc(95% / 3);
    
}
.CreatePost li{
    background-color: rgb(36, 36, 41);
    height: 200px;
    padding: 20px;
    margin: 0px;
}
.CreatePost li:hover{
    background-color: rgb(46, 46, 53);
    height: 200px;
    padding: 20px;
    margin: 0px;
    cursor: pointer;
}