.CreatePost fieldset{
    background-color: black;
    width: 20%;
    float: left;

}
.pageList {
    list-style-type: none;
    padding: 0px;
}
.CreatePost {
    border: 200px;
    
}

.Parent{
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 0px;
}
.ParentIsActive{
    background-color: rgb(255, 0, 0);
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 7px;
}
.Children{
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 0px;
    margin-left: 15px;
}
.ChildrenIsActive{
    background-color: rgb(255, 0, 0);
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 7px;
    margin-left: 15px;
}



/* Input field */
.pageTitleInputField{
    height: 30px;
    width: 65%;
}
.pageTitleInputFieldEmpty{
    height: 30px;
    width: 65%;
    border: 3px solid red;
}

/* Post Title */
.PostTitleIsActive {
    background-color: rgb(255, 0, 0);
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 7px;
}
.PostTitle {
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 0px;
}

/* button*/
.CreatePost button{
    background-color: gray;
    padding: 6px;
}
.CreatePost button:hover{
    cursor:pointer;
    background-color: darkgray;
}
.CreatePost button:active{
    cursor:pointer;
    background-color: lightgray;
}
/*  Textarea   */

.Textarea fieldset {
    height: 100%;
    width: 72%;
}
.Textarea textarea {
    height: 500px;
    width: 95%;
    resize: none;
    
}
.Textarea input {
    height: 30px;
    width: 95%;
    resize: none;
    margin-bottom: 16px;
    
}
.Textarea button {
    float: right;
    margin: 5px;
    
}
