.CreatePost fieldset{
    background-color: black;
    width: 200px;
    float: left;

}
.pageList {
    list-style-type: none;
    padding: 0px;
}
.CreatePost {
    border: 200px;
    
}

.Parent{
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 0px;
}
.ParentIsActive{
    background-color: rgb(255, 0, 0);
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 7px;
}
.Children{
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 0px;
    margin-left: 15px;
}
.ChildrenIsActive{
    background-color: rgb(255, 0, 0);
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 7px;
    margin-left: 15px;
}



/* Input field */
.pageTitleInputField{
    width: 110px;
    height: 23px;
}
.pageTitleInputFieldEmpty{
    width: 110px;
    height: 23px;
    border: 3px solid red;
}

/* Post Title */
.PostTitleIsActive {
    background-color: rgb(255, 0, 0);
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 7px;
}
.PostTitle {
    color: white;
    word-break: break-word; 
    font-size: large;
    text-decoration: none;
    line-height: 200%;
    padding: 0px;
}

/* button*/
.CreateNewPage{
    background-color: gray;
    padding: 6px;
}
.CreatePost button:hover{
    cursor:pointer;
    background-color: darkgray;
}
.CreatePost button:active{
    cursor:pointer;
    background-color: lightgray;
}
/*  Textarea   */

.Textarea fieldset {
    height: 600px;
    width: 800px;
}
